*{
    outline: 1px solid blue;
    outline-offset: -0.5rem;
    padding: 1rem;
    color: white;
    background-color: green;
}*
/*base*/
*{ 
    box-sizing: border-box;
}
img {width: 100%; display: block;}
*{
    padding: 0.5rem;  
}
/*Typo*/
body{
    font-family: lato;
    margin: 0;
    padding: 0;
}
/*mise en page*/
body{
    display:flex;
    gap: 1rem;
    flex-wrap: wrap;
} 
nav{
    flex: 1 1 100%;
}
main{
    flex: 1 1 60%;
}
footer{
    flex: 1 1 100%;}

nav{
    display: flex;
}
.topnav{
    display: flex;
    
}
.home{
    display: flex;
}
.button{
    display: flex;
}
.white{
    display: flex;
}
/*hero
.hero{
    background-image: url("Image/image\ 1.png");
}*/
/*Nav*/

.logo{
    display: flex;
    width: 20vw;   
    justify-content: center;
}
.logo img{
    width: 35%;
    
}
.topnav{
    display: flex;
    width: 75vw;
    justify-content: right;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    
}
.navi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
h3{
    margin: 0;
    
}
/*title*/
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.button {
    justify-content: center;
}
.numb{
    display: flex;
    align-items: center;
}
.page {
    display: flex;
    flex-direction: column;
   
    
}